<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2 class="text-center">
          Contact us
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="block">
          <div class="h2">General Information</div>
          <div class="h5">Keep inform on event</div>
          <a href="http://eepurl.com/Gbes1" class="btn btn-primary btn-block">
            Contact
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="block">
          <div class="h2">Sponsorship</div>
          <div class="h5">Take part in health innovation</div>
          <a href="mailto:s.letelie@hackinghealth.ca" class="btn btn-primary btn-block">
            Contact
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="block">
          <div class="h2">Volunteering</div>
          <div class="h5">We need you!</div>
          <a href="mailto:s.letelie@hackinghealth.ca" class="btn btn-primary btn-block">
            Contact
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
