<section class="ultrafooter">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4 social-links">
        {% for link in site.social_links %}
          <a href="{{ link[1] }}" class="{{ link[0] }}" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-{{ link[0] }} fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        {% endfor %}
      </div>
      <div class="col-xs-12 col-md-4">
        <a href="http://eepurl.com/Gbes1" class="btn btn-primary btn-block">
          Mailing List
        </a>
      </div>
      <div class="col-xs-12 col-md-4 text-right">
        <a href="/privacy.html" class="h5 privacy">Privacy Policy</a>
        |
        <a href="/terms.html" class="h5 privacy">Terms of use</a>
        <br/>
        <span class="text-muted">Design by <a href="http://goodmorningmajor.com/" target="_blank">goodmorningmajor</a></span>
      </div>
    </div>
  </div>
</section>
