{% if page.path == "sponsors.html" or page.path == "fr/sponsors.html"%}
{% include footer/partners.html %}
{% endif %}
{% if page.with_expanded_footer == true %}
{% include footer/quote.html %}
{% endif %}
{% include footer/support.html %}
{% if page.with_expanded_footer == true %}
{% include footer/partners.html %}
{% if page.url == '/index.html' or page.url == '/fr/index.html' %}
{% include shared/people.html sectionKey="team" %}
{% endif %}
{% endif %}
{% if page.path != "last-edition.html" and page.path != "fr/last-edition.html"%}
{% include footer/last-edition.html %}
{% endif %}
{% include footer/contact.html %}
{% include footer/ultrafooter.html %}

