<nav role="navigation" class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <span class="hhlogo">
          <img src="/img/hhlogo.svg" />
          Hacking Health
        </span>
        <span class="subtitle">
          March <span class="day">19</span><sup>th</sup> to <span class="day">22</span><sup>nd</sup> 2015,
        </span>
        <span class="city">
          Strasbourg
        </span>
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Event</a></li>
        <li><a href="#">Agenda</a></li>
        <li><a href="#">Ticket</a></li>
        <li><a href="#">HH Camp & You</a></li>
        <li><a href="#">Become Sponsor</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
