<nav role="navigation" class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a href='#' aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href="{% if page.locale == "fr" %}/fr/{% else %}/{% endif %}" class="navbar-brand">
        <span class="hhlogo">
          {% assign img_url = "/img/hhlogo.svg" | prepend: site.baseurl %}
          <img src="{{ img_url }}" />
          <span class="logo-text">
            Hacking
            <br class="visible-xs" />
            Health
          </span>
          <span class="slant-text">Camp</span>
        </span>
        <span class="subtitle">
          {{ site[page.locale].subtitle }},
        </span>
        <span class="city">
          Strasbourg
        </span>
      </a>
    </div>
    <div class="col-xs-12 col-sm-4 text-right pull-right">
      <a href="/fr/" target="_blank">
	fr 
      </a>
      <a href="/" target="_blank">
	en 
      </a>
    </div>
    <div class="social-links col-xs-12 col-sm-4 text-right pull-right">
      {% for link in site.social_links %}
        <a href="{{ link[1] }}" class="{{ link[0] }}" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-{{ link[0] }} fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      {% endfor %}
    </div>
    <div class="clear visible-sm"></div>
    <div class="navbar-collapse collapse pull-right col-xs-12" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        {% assign target_url = '/discover.html' | prepend: site.baseurl %}
        <li><a href="{% if page.locale == "fr" %}/fr{% endif %}{{ target_url }}">{{ site[page.locale].nav.event }}</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ site[page.locale].nav.agenda }}</a>
          <ul class="dropdown-menu" role="menu">
            {% for event in site[page.locale].events %}
              {% assign mnemonic = event.name | downcase | replace:' ','-' %}
              {% assign event_url = mnemonic | append:'.html' %}
              <li>
                <a href="{% if page.locale == "fr" %}/fr/{% else %}/{% endif %}{{ event_url }}">
                  {% assign img_url = "/img/hhlogo.svg" | prepend: site.baseurl %}
                  <img src="{{ img_url }}" />
                  {{ event.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
        {% assign target_url = '/ticket.html' | prepend: site.baseurl %}
        <li><a href="{{ target_url }}">{{ site[page.locale].nav.ticket }}</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ site[page.locale].nav.hhcamp_and_you }}</a>
          <ul class="dropdown-menu" role="menu">
            {% for argument in site[page.locale].arguments %}
              <li>
                {% assign target_url = '/' | append:argument.name | downcase | append:'.html' %}
                <a href="{% if page.locale == "fr" %}/fr{% else %}{% endif %}{{ target_url }}">
                  {{ argument.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
        {% assign target_url = '/sponsors.html' | prepend: site.baseurl %}
        <li><a href="{% if page.locale == "fr" %}/fr{% endif %}{{ target_url }}">{{ site[page.locale].nav.become_sponsor }}</a></li>
        {% assign target_url = '/venue.html' | prepend: site.baseurl %}
        <li><a href="{{ target_url }}">{{ site[page.locale].nav.venue }}</a></li>
        {% assign target_url = '/last-edition.html' | prepend: site.baseurl %}
        <li><a href="{% if page.locale == "fr" %}/fr{% endif %}{{ target_url }}">{{ site[page.locale].nav.last_edition }}</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
  {% if page.url == '/index.html' or page.url == '/fr/index.html' %}
  {% include home/intro.html %}
  {% endif %}
</nav>
