<section class="hardware-software {{ mnemonic }}">
  <a name="hardware-software"></a>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="h2">
          Hardware & Software
        </div>
        <div class="h5">
          Our partners give us hardwares, API and dataset for free during the week-end to help you realize amazing thing with.
          <br/>
          You will find help to use it during the week-end and some of them will make a training during Health Data Day.
        </div>
        <p>
          Feel free to contact us to know more about one of this, we get in touch with the provider. <br/>
          Feel free to bring your own materials, your computer, your monitor, your screen, and don't forget your adapters extensions !
        </p>
      </div>
    </div>
    <div class="row">
      {% for item in site.hardwaresoftware %}
      {% assign image = item.image %}
      {% assign title = item.title %}
      {% assign description = item.description %}
      {% assign link = item.link %}
      {% assign link_title = item.link_title %}
      <div class="col-xs-12 col-sm-6">
        {% assign img_url = "/img/" | append:image | append:'.jpg' | prepend: site.baseurl %}
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <img class="img-responsive" src="{{ img_url }}"/>
          </div>
          <div class="col-xs-12 col-sm-9">
            <h3 class="h5">{{ title }}</h3>
            <p>
              {{ description }}
            </p>
            <a href='{{ link }}'>
              {{ link_title }}
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
