<section class="prizes {{ mnemonic }}">
  <a name="prizes"></a>
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">
        <div class="h2">
          Les Prix
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 full-width labeled labeled-honorable">
        <h3 class="title">Les mentions honorables</h3>
        <div class="row">
          <div class="col-sm-4">
            <ul class="list-mentions">
              <li>Meilleur potentiel de réussite</li>
              <li>Meilleure innovation</li>
              <li>Meilleure solution pour la collaboration en santé</li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul class="list-mentions">
              <li>Meilleure solution clinique</li>
              <li>Meilleure solution pour les patients</li>
              <li>Meilleure solution visant la silver economie</li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul class="list-mentions">
              <li>Meilleure solution pour <br>l'éducation en santé</li>
              <li>Meilleure solution pour <br>le système de santé</li>
              <li>Prix coup de coeur du jury</li>
              <li>Prix du public</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="prize labeled labeled-sponsor">
          <div class="logo"><img class="img-responsive" src="/img/prize/doctissimo.jpg" alt=""></div>
          <h3 class="title">Prix sponsor Doctissimo</h3>
          <p>Doctissimo.fr est le partenaire santé et bien-être des internautes, le site réunit chaque mois en moyenne 7 millions de visiteurs uniques. Doctissimo propose à la fois de l'information experte et des espaces de dialogue où les 3 millions de membres de sa communauté se retrouvent pour échanger.</p>
          <p>Le Prix Sponsor Doctissimo sera remis à une solution innovante orientée patient, illustrant au mieux la signature de la marque « Vivre bien au quotidien ».</p>

          <p>Récompense : <br>
            Doctissimo relayera l’attribution du prix sur son site et médiatisera la solution vainqueur !</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="prize labeled labeled-sponsor">
          <div class="logo"><img class="img-responsive" src="/img/prize/samsung.png" alt=""></div>
          <h3 class="title">Prix sponsor Samsung</h3>
          <p>En tant qu'acteur de la santé à travers sa division dédiée Samsung cible les projets à fort potentiel répondant aux attentes du secteur hospitalier.</p>
          <p>Récompense : <br>
            - prêt de materiel Samsung pour 6 mois <br>pour tester le prototype<br>
            - accompagnement du projet et implication de celui-ci dans les consortiums d'entreprises constitués par Samsung pour répondre à des appels d'offres
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="prize labeled labeled-sponsor">
          <div class="logo"><img class="img-responsive" src="/img/prize/ihealth.jpg" alt=""></div>
          <h3 class="title">Prix sponsor iHealth</h3>
          <p>iHealth sélectionnera le projet le plus innovant proposant un nouvel objet connecté pour la santé ou utilisant des objets connectés pour améliorer la santé</p>

          <p>Récompense :<br>
          - accès en prêt pour 6 mois à tous les produits iHealth<br>
          - <b>prototypage de la solution hardware dans les usines de Shenzen en Chine</b> (oui vous avez bien lu ;)</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="prize labeled labeled-sponsor">
          <div class="logo"><img class="img-responsive" src="/img/prize/sanofi.jpg" alt=""></div>
          <h3 class="title">Prix sponsor Sanofi</h3>
          <p>Innovation santé pour les patients.</p>
          <p>Ce prix est le reflet de notre volonté de valoriser les solutions et services au-delà du médicament qui apporte un plus pour les patients dans la prise en charge de leur santé.</p>
          <p>
            Récompense :<br>
            - médiatisation du projet sur le site sanofi.fr<br>
            - présentation en interne devant la communauté innovation de Sanofi France<br>
            - une demi-journée de coaching / conseil sur la base du projet.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="prize labeled labeled-sponsor">
          <div class="logo"><img class="img-responsive" src="/img/prize/interaction-healthcare.jpg" alt=""></div>
          <h3 class="title">Prix sponsor Interaction Healthcare</h3>
          <p>Interaction Healthcare, agence digitale spécialisée dans le domaine de la santé, a une promesse "Comprendre les innovations digitales pour offrir une expérience interactive unique aux professionnels de santé et aux patients". Le prix "Innovate Health" récompensera ainsi le projet qui utilisera une innovation technologique avec un usage pertinent et utile pour des patients</p>
          <p>Récompense : <br>
            Une journée de conseil avec l'équipe d'experts e-santé d'Interaction Healthcare pour accompagner la mise sur le marché de la solution
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="prize labeled labeled-bonus">
          <div class="logo"><img class="img-responsive" src="/img/prize/bpifrance.jpg" alt=""></div>
          <h3 class="title">Prix BONUS BPIFrance</h3>
          <p>BPIFrance sélectionnera le projet ayant le meilleur potentiel de réussite et lui garantira un rendez-vous pour évaluer les aides possibles à attribuer.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 full-width labeled labeled-jackpot">
        <h1>Jackpot !</h1>
        <h2>Du fait qu'il y ait 3 types de prix, une équipe peut gagner <br>une <b>mention honorable</b> + un <b>prix sponsor</b> + le <b>prix bonus BPIFrance</b></h2>
      </div>
    </div>
  </div>
</section>
