<section class="prizes {{ mnemonic }}">
  <a name="prizes"></a>
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">
        <div class="h2">
          Prizes
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 full-width labeled labeled-honorable">
        <h3 class="title">Honorables mentions</h3>
        <div class="row">
          <div class="col-sm-4">
            <ul class="list-mentions">
              <li>HEALTH SOLUTION MOST LIKELY TO SUCCEED</li>
              <li>MOST INNOVATIVE HEALTH SOLUTION</li>
              <li>BEST SOLUTION FOR HEALTHCARE COLLABORATION</li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul class="list-mentions">
              <li>BEST SOLUTION TARGETING CLINICS</li>
              <li>BEST CONSUMER HEALTH SOLUTION</li>
              <li>BEST SOLUTION TARGETING HOSPITALS</li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul class="list-mentions">
              <li>BEST HEALTH EDUCATION SOLUTION</li>
              <li>BEST SOLUTION FOR THE OVERALL HEALTHCARE SYSTEM</li>
              <li>HACKING HEALTH CHOICE AWARD</li>
              <li>PEOPLE’S CHOICE AWARD</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="prize labeled labeled-sponsor">
          <div class="logo"><img class="img-responsive" src="/img/prize/doctissimo.jpg" alt=""></div>
          <h3 class="title">Doctissimo AWARD</h3>
          <p>Doctissimo.fr is the partner for health and well-being of users, the site meets monthly average of 7,000,000 unique visitors. Doctissimo offers both expert information and dialogue spaces where 3 million members of the community gather to exchange.</p>

          <p>Doctissimo's prize will be awarded to patient oriented innovative solution, illustrating the best brand signature "Live well every day."</p>

          <p>Doctissimo will relay the award on its website and promote the winner's solution!</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="prize labeled labeled-sponsor">
          <div class="logo"><img class="img-responsive" src="/img/prize/samsung.png" alt=""></div>
          <h3 class="title">Samsung AWARD</h3>
          <p>As an actor of health through its dedicated health division, Samsung targets high-potential projects that meet the expectations of hospitals.</p>
          <p>The winner will benefit : <br>
            - Samsung equipment loan for 6 months<br>for prototype testing<br>
            - project support and involvement in business consortiums formed by Samsung to respond to call for tender
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="prize labeled labeled-sponsor">
          <div class="logo"><img class="img-responsive" src="/img/prize/ihealth.jpg" alt=""></div>
          <h3 class="title">iHealth AWARD</h3>
          <p>iHealth will select most innovative project with a hardware or software related to connected health improving patient empowerment and medical practice</p>

          <p>Awards :<br>
          - iHealth equipment loan for 6 months<br>for prototype testing<br><br>
          - <b>prototyping hardware solution in Shenzen factories in China</b> (yes you read well ;)</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="prize labeled labeled-sponsor">
          <div class="logo"><img class="img-responsive" src="/img/prize/sanofi.jpg" alt=""></div>
          <h3 class="title">Sanofi AWARD</h3>
          <p>Sanofi will select best health innovation for patient</p>
          <p>This award reflect our will to help developping solutions and services across the drug for patients empowerment.</p>
          <p>
            Award :<br>
            - project promotion on sanofi.fr<br>
            - pitch project internally in front of the innovation community of Sanofi France<br>
            - half day coaching and mentoring on the project with Sanofi experts
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="prize labeled labeled-sponsor">
          <div class="logo"><img class="img-responsive" src="/img/prize/interaction-healthcare.jpg" alt=""></div>
          <h3 class="title">Interaction Healthcare AWARD</h3>
          <p>To be announced soon ...</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="prize labeled labeled-bonus">
          <div class="logo"><img class="img-responsive" src="/img/prize/bpifrance.jpg" alt=""></div>
          <h3 class="title">BPIFrance BONUS AWARD</h3>
          <p>BPIFrance select projects most likely to succeed and the winner will have a meeting at BPIFrance office to study the project.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 full-width labeled labeled-jackpot">
        <h1 class="title">JACKPOT !</h1>
        <h2>As there are 3 types of prices a team could win an <b>honorable mention</b> + a <b>sponsor award</b> + <b>BPIFrance bonus</b> !</h2>
      </div>
    </div>
  </div>
</section>
