{% assign sectionKey = include.sectionKey %}
{% for possible_section in site.people %}
  {% if possible_section[0] == sectionKey %}
    {% assign sections = possible_section[1] %}
  {% endif %}
{% endfor %}
<section class="people {{ sectionKey }}">
  {% for section in sections %}
    {% assign section_list = section.list %}
    {% assign section_name = section.name %}
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="h2 text-center">
            Startups
          </div>
        </div>
      </div>
      {% for person in section_list %}
        <div class="row startup">
          <div class="col-xs-3">
            {% assign person_name = person.name | downcase | replace:" ","-" | replace:"é","e" | remove:"!" | remove:"'" | split:"-" | join:"-" | append:".jpg" %}
            {% assign img_url = "/img/people/" | append: person_name | prepend: site.baseurl %}
            <img src="{{ img_url }}">
          </div>
          <div class="col-xs-9">
            <h5>{{ person.name }} - {{ person.country }}</h5>
            <p>{% if page.locale == "fr" %}{{ person.description_fr }}{% else %}{{ person.description_en }}{% endif %}</p>
            <p>
              <a href="http://{{ person.website }}" target="_blank">{{ person.website }}</a>
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</section>
