---
layout: default
---
{% include shared/intro.html %}
{% assign page_path = page.path | remove:'.html' | remove:'fr/' %}
<code>{{ page_path }}</code>
{% if page_path == 'press' or page_path == 'privacy' or page_path == 'terms' or page_path == 'ticket' or page_path == 'venue' %}
{% assign content_file_path = page_path | append:'/content.markdown' %}
{% else %}
{% assign content_file_path = page_path | append:'/content.' | append:page.locale | append:'.markdown' %}
{% endif %}
{% capture content %}{% include {{ content_file_path }} %}{% endcapture %}
<section class="content">
  <div class="container">
    <div class="row">
      {{ content | markdownify }}
    </div>
  </div>
</section>
{% assign special_pages = ["developer-designer", "entrepreneur-heath-involved", "health-professional-patient" %}
{% if special_pages contains page_path %}
{% include shared/testimony.html testimonyKey=page_path %}
{% endif %}
