---
layout: default
---
{% include shared/intro.html %}
{% assign page_path = page.path | remove:'.html' %}
{% capture content %}{% include {{ page_path }}/content.markdown %}{% endcapture %}
<section class="content">
  <div class="container">
    <div class="row">
      {{ content | markdownify }}
    </div>
  </div>
</section>
{% assign special_pages = ["developer", "designer", "professional" %}
{% if special_pages contains page_path %}
{% include shared/testimony.html testimonyKey=page_path %}
{% endif %}
