---
layout: default
---
{% assign event = site[page.locale].events[page.event_index] %}
{% assign mnemonic = event.name | downcase | replace:' ','-' %}
{% include event/intro.html %}
{% include shared/presentation.html %}
{% if page.path == "health-hackathon.html" %}
{% assign content_file_path = mnemonic | append:'/complement.' | append:page.locale | append:'.markdown' %}
{% capture complement %}{% include {{content_file_path}} %}{% endcapture %}
<section class="complement {{ mnemonic }}">
  <div class="container">
    <div class="row">
      {{ complement | markdownify }}
    </div>
  </div>
</section>

{% include {{ mnemonic }}/hardware-software.html %}

{% endif %}
{% include shared/people.html sectionKey=mnemonic %}
{% include shared/ticket.html %}
{% include shared/schedule.html scheduleKey=mnemonic %}
{% include shared/qa.html qaKey=mnemonic %}
{{ content }}
