---
layout: default
---
{% assign event = site.events[page.event_index] %}
{% assign mnemonic = event.name | downcase | replace:' ','-' %}
{% include event/intro.html %}
{% include shared/presentation.html %}
{% if page.path == "health-hackathon.html" %}
{% capture complement %}{% include {{ mnemonic }}/complement.markdown %}{% endcapture %}
<section class="complement {{ mnemonic }}">
  <div class="container">
    <div class="row">
      {{ complement | markdownify }}
    </div>
  </div>
</section>
{% endif %}
{% include shared/people.html sectionKey=mnemonic %}
{% include shared/schedule.html scheduleKey=mnemonic %}
{{ content }}
