{% if page.locale == 'fr' %}
<section class="atelier">


  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2 class="text-center">
          Atelier d'information et d'appel à défi
        </h2>
        <p>
Venez participer à notre atelier d'information et d'appel à défi <b>le 15 janvier à 19h à la clinique des diaconesses</b>. Vous y trouverez les réponses à vos questions sur l'évènement et en compagnie de designers expérimentés vous y apprendrez à formaliser votre défi pour le publier sur le <a href="http://hhcamp.sparkboard.com" style="color: #5cb85c;">sparkboard</a>.
        </p>
<a href="http://hhatelier2.eventbrite.fr/" class="btn btn-success btn-block">
                  > Inscrivez vous ! <
                </a>
      </div>
    </div>
  </div>
</section>
{% endif %}
