{% if page.locale == 'fr' %}
<section class="atelier">


  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2 class="text-center">
          Ateliers d'information
        </h2>
        <p>
Atelier d'information et d'appel à défi le 15 janvier à 19h à la clinique des diaconesses.
        </p>
<a href="http://hhatelier2.eventbrite.fr/" class="btn btn-primary btn-block">
                  > Inscrivez vous ! <
                </a>
      </div>
    </div>
  </div>
</section>
{% endif %}
