<section class="discover">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2 class="text-center">
          {{ site[page.locale].discover_home.title }}
        </h2>
        <p>
          {{ site[page.locale].discover_home.description }}
        </p>
      </div>
    </div>
    <div class="row video-container">
      <div class="col-md-8 col-md-offset-2">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/G9tpUZql5ZQ" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <a href='{% if page.locale == "fr" %}/fr/{% else %}/{% endif %}discover.html' class="btn btn-primary btn-block">
          {{ site[page.locale].know_more }}
        </a>
      </div>
    </div>
  </div>
</section>
