<section class="discover">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2 class="text-center">
          Discover Hacking Health Camp
        </h2>
        <p>
          <strong>Hacking Health Camp</strong> is a global event for all people interested in health innovation, inspiring health profesionnals, designers, developers, UX researchers and engineers about their common amazing possibilities in tomorrow's health.
        </p>
      </div>
    </div>
    <div class="row video-container">
      <div class="col-md-8 col-md-offset-2">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/XIzD8t5Qs6I?rel=0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        {% assign target_url = '/discover.html' | prepend: site.baseurl %}
        <a href='{{ target_url }}' class="btn btn-primary btn-block">
          Know more
        </a>
      </div>
    </div>
  </div>
</section>
