<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>
          Create the future
          <br/>
          of healthcare
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-2">
        <button class="btn btn-primary btn-block">
          Become informed when
          <br/>
          registration opens
        </button>
      </div>
      <div class="col-xs-12 col-sm-4">
        <button class="btn btn-primary btn-block">
          Mailing list
        </button>
      </div>
    </div>
  </div>
</section>
