<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>
          Create the future
          <br/>
          of healthcare
        </h1>
      </div>
    </div>
    <div class="row buttons">
      <div class="col-xs-12 col-sm-4 col-sm-offset-2">
        <a href="http://hhcamp.eventbrite.fr" class="btn btn-primary btn-block">
          Register now !
        </a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <a href="http://eepurl.com/Gbes1" class="btn btn-primary btn-block">
          Keep in touch !
        </a>
      </div>
    </div>
  </div>
</div>
