<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>
          {{ site[page.locale].intro.title }}
        </h1>
      </div>
    </div>
    <div class="row buttons">
      <div class="col-xs-12 col-sm-4">
        <a href="http://hhcamp.eventbrite.fr" class="btn btn-primary btn-block">
          {{ site[page.locale].intro.ticket_link }}
        </a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <a href="http://eepurl.com/Gbes1" class="btn btn-primary btn-block">
          {{ site[page.locale].intro.newsletter_link }}
        </a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <a href="http://hhcamp.sparkboard.com/" class="btn btn-primary btn-block">
          {{ site[page.locale].intro.challenge_link }}
        </a>
      </div>
    </div>
    <div class="row">
      <h3 class="text-center">
        {{ site[page.locale].discount | markdownify }}
      </h3>
    </div>
  </div>
</div>
