<section class="join text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="h2">
          {{ site[page.locale].arguments_block.title }}
        </div>
      </div>
    </div>
    <div class="row">
      {% for argument in site[page.locale].arguments %}
      <div class="col-join col-xs-12 col-sm-4 {{ argument.name }}">
        {% assign img_url = "/img/" | append:argument.name | append:'.jpg' | prepend: site.baseurl %}
        <img src="{{ img_url }}" class="img-responsive" />
        <h3 class="h5">{{ argument.title }}</h3>
        <p>
          {{ argument.description }}
        </p>
        {% assign target_url = '/' | append:argument.name | downcase | append:'.html' | prepend: site.baseurl %}
        <a href='{% if page.locale == "fr" %}/fr{% else %}{% endif %}{{ target_url }}' class="btn btn-primary btn-block">
          {{ site[page.locale].know_more }}
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
