<section class="join">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="h2 text-center">
          Join the largest european hackathon on healthcare
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 developer">
        {% assign img_url = "/img/perso1.jpg" | prepend: site.baseurl %}
        <img src="{{ img_url }}" class="img-circle" />
        <h3 class="h5">Developer</h3>
        <p>
          Transform everyday healthcare challenges into real solutions. Work on meaningful problems. Help improve healthcare. Get connected, and practice your skills.
        </p>
        <a href='' class="btn btn-primary btn-block">
          Know More
        </a>
      </div>
      <div class="col-xs-12 col-sm-4 designer">
        {% assign img_url = "/img/perso2.jpg" | prepend: site.baseurl %}
        <img src="{{ img_url }}" class="img-circle" />
        <h3 class="h5">Designer</h3>
        <p>
          Connect to create holistic solutions with patients, not for patients. Work on meaningful problems. Help improve healthcare. Get connected, and practice your skills.
        </p>
        <a href='' class="btn btn-primary btn-block">
          Know More
        </a>
      </div>
      <div class="col-xs-12 col-sm-4 profesional">
        {% assign img_url = "/img/perso3.jpg" | prepend: site.baseurl %}
        <img src="{{ img_url }}" class="img-circle" />
        <h3 class="h5">Healthcare Profesional</h3>
        <p>
          Collaborate with tech experts to solve problems in healthcare. Let your ideas inspire practical solutions.
        </p>
        <a href='' class="btn btn-primary btn-block">
          Know More
        </a>
      </div>
    </div>
  </div>
</section>
